:root {
    --bg: #0f172a;       /* Dark background */
    --card: #0f172a;     /* Lighter box color */
    --accent: #4600eb;   /* Violet highlight */
    --text: #f8fafc;     /* White text */
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: sans-serif;
    padding: 0px;
    display: flex;
    justify-content: left;
}

.container {
    background: var(--card);
    padding: 40px;
    border-radius: 15px;
    width: 400px;
    scale: 110%;
}

h1 {
    text-align: center;
    color: var(--accent);
}

/* Form elements */
input[type="file"] {
    width: 100%;
    margin-bottom: 20px;
}

#fileList {
    list-style: none;
    padding: 0;
}

#fileList li {
    background: #334155;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: grab;
}

/* The Merge Button */
button {
    width: 100%;
    background-color: var(--accent);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #7c3aed;
}